<!DOCTYPE html>
<html>
<head>
  <title>Picturesque</title>
  <%= stylesheet_link_tag    "picturesque/application", media: "all" %>
  <%= javascript_include_tag "picturesque/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
